.App {
  text-align: center;
  background: linear-gradient(rgb(189, 189, 189), rgb(87, 80, 80));
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  box-shadow: 0px 0px 20px black;
  padding-bottom: 5%;
  color: rgb(0, 0, 0);
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
  border-radius: 25px;
}
body {
  background: linear-gradient(grey, black);
  height: fit-content;
  padding-bottom: 3%;
}
strong{
  text-decoration: underline;
}
h4{
  text-decoration: underline;
}

/* //////HOME COMPONENT///// */
.homeComponent{
  display: flex;
  justify-content: space-evenly;
}
.introHome{
  background: linear-gradient(rgb(223, 227, 241), rgb(94, 94, 94));
  padding: .1%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 0px 20px;
  margin-bottom: 1%;
  font-family: sans-serif;
}
a {
  color: black;
}
/* //////RULES COMPONENT///// */
.rulesComponent{
  width: fit-content;
}
.rulesComponent a{
  color: black;
}

.rulesTxt{
  width: 75%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}
/*GRAPH COMPONENT*/

.simulation{
  box-shadow: 0px 10px 40px;
}

.simulationButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 2%;
}

.simulationButtons button{
  background-color: rgb(24, 24, 24);
  color: white;
  box-shadow: 0px 5px 10px black;
  border: 1px solid rgb(131, 131, 131);
  padding: 8%;
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.simulationButtons button:hover{
  border-radius: 20px;
  cursor: pointer;
}
.graphStats{
  display: flex;
  flex-direction: column;
}
.stats{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}
.stats button{
  margin-top: .5%;
  background-color: rgb(24, 24, 24);
  color: white;
  box-shadow: 0px 5px 10px black;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}